/*---UNIVERSAL---*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}

/*---TOP CONTAINERS---*/
html{
    height: 100%;
}

body{
    min-height: 100vh;
    border: 4px solid green;
}

/*---MAIN CONTENT---*/
.calculator{
    width: 400px;
    height: 600px;
    padding: 16px;
    border-radius: 5px;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/*---calculator children---*/
.display{
    flex: 1 0 0;
    border-radius: 5px;
    background-color: rgb(190, 190, 190);
}

.calculator-buttons{
    flex: 4 0 0;
    display: flex;
    gap: 4px;
}

/*---calculator button children---*/
.input{
    flex: 3 0 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.operators{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
}

/*---input children---*/
.digits{
    flex: 4.2 0 0;
    display: flex;
    flex-direction: column;
}

.edit{
    flex: 1 0 0;
    display: flex;
}

/*---digits and operators children---*/
.row, .cell{
    flex: 1 0 0;
    display: flex;
}

.digits, .operators, .row{
    gap: 2px;
}

.cell button{
    flex: 1 0 0;
}

.digits button{
    background-color: rgb(146, 255, 146);
}

.operators button{
    background-color: rgb(70, 85, 70);
}

/*---edit children---*/
#clear-input{
    flex: 1 0 0;
    background-color: rgb(93, 112, 93);
}

/*---BUTTONS---*/
button{
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
}
